:root {
  --building-color: #ff9800;
  --house-color: #0288d1;
  --shop-color: #7b1fa2;
  --warehouse-color: #558b2f;
}

/*
* Optional: Makes the sample page fill the window.
*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
* Always set the map height explicitly to define the size of the div element
* that contains the map.
*/
#map {
  height: 100%;
  width: 100%;
}

#map-data {
  height: 100vh;
  overflow-y: scroll;
}

/*
* Property styles in unhighlighted state.
*/
.property {
  /* align-items: center; */
  /* background-color: #ffffff; */
  border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  /* gap: 15px; */
  height: 30px;
  justify-content: center;
  padding: 4px;
  position: relative;
  transition: all 0.3s ease-out;
  width: 30px;
}

.property::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  /* border-top: 9px solid #ffffff; */
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-out;
  width: 0;
  z-index: 1;
}

.property .icon {
  align-items: center;
  display: flex;
  justify-content: center;
  /* color: #ffffff; */
}

.property .icon svg {
  height: 20px;
  width: auto;
}

.property .details {
  display: none;
  flex-direction: column;
  flex: 1;
}

.property .address {
  /* color: #9e9e9e; */
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.property .features {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.property .features > div {
  align-items: center;
  /* background: #f5f5f5; */
  border-radius: 5px;
  /* border: 1px solid #ccc; */
  display: flex;
  font-size: 10px;
  gap: 5px;
  padding: 5px;
}

/*
* Property styles in highlighted state.
*/
.property.highlight {
  /* background-color: #ffffff; */
  /* border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2); */
  height: 50px;
  padding: 8px 15px;
  width: auto;
}

.property.highlight::after {
  /* border-top: 9px solid #ffffff; */
}

.property.highlight .details {
  display: flex;
}

.property.highlight .icon svg {
  /* width: 50px;
  height: 50px; */
}

.property .bed {
  color: #ffa000;
}

.property .bath {
  color: #03a9f4;
}

.property .size {
  color: #388e3c;
}

/*
* House icon colors.
*/
.property.highlight:has(.fa-house) .icon {
  color: var(--house-color);
}

.property:not(.highlight):has(.fa-house) {
  background-color: var(--house-color);
}

.property:not(.highlight):has(.fa-house)::after {
  border-top: 9px solid var(--house-color);
}

/*
* Building icon colors.
*/
.property.highlight:has(.fa-building) .icon {
  color: var(--building-color);
}

.property:not(.highlight):has(.fa-building) {
  background-color: var(--building-color);
}

.property:not(.highlight):has(.fa-building)::after {
  border-top: 9px solid var(--building-color);
}

/*
* Warehouse icon colors.
*/
.property.highlight:has(.fa-warehouse) .icon {
  color: var(--warehouse-color);
}

.property:not(.highlight):has(.fa-warehouse) {
  background-color: var(--warehouse-color);
}

.property:not(.highlight):has(.fa-warehouse)::after {
  border-top: 9px solid var(--warehouse-color);
}

/*
* Shop icon colors.
*/
.property.highlight:has(.fa-shop) .icon {
  color: var(--shop-color);
}

.property:not(.highlight):has(.fa-shop) {
  background-color: var(--shop-color);
}

.property:not(.highlight):has(.fa-shop)::after {
  border-top: 9px solid var(--shop-color);
}

.map-content .map-item {
  cursor: pointer;
}
.map-content .map-item .border {
  width: 10px;
}
.map-content .map-item img {
  width: 150px;
}
.map-content .map-item .icon {
  width: 15px;
}
.map-content .map-item .icon.blue {
  filter: invert(56%) sepia(96%) saturate(914%) hue-rotate(165deg) brightness(97%) contrast(91%);
}
.map-content .map-item .icon.orange {
  filter: invert(70%) sepia(68%) saturate(1777%) hue-rotate(324deg) brightness(101%) contrast(111%);
}
.map-content .map-item .icon.purple {
  filter: invert(47%) sepia(4%) saturate(6687%) hue-rotate(257deg) brightness(87%) contrast(103%);
}
.map-content .map-item .icon.green {
  filter: invert(57%) sepia(42%) saturate(463%) hue-rotate(74deg) brightness(101%) contrast(92%);
}

.map-item {
  border: 1px solid #eee;
}
.map-label {
  font-size: 8px;
}