/* GENERAL */
@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto/Roboto-Light.ttf") format("woff2");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("woff2");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("woff2");
}
a {
    cursor: pointer;
}
*,
p,
button,
a,
span {
    font-family: "Roboto-Regular";
}
a {
    text-decoration: none !important;
}
.roboto-light {
    font-family: "Roboto-Light";
}
.roboto-regular {
    font-family: "Roboto-Regular";
}
.roboto-bold {
    font-family: "Roboto-Bold";
}
.bg-grey {
    background-color: #eee;
}
.bg-blue {
    background-color: #2eb5ec;
}
.bg-green {
    background-color: #60b366;
}
.bg-orange {
    background-color: #ff9149;
}
.bg-purple {
    background-color: #a7549a;
}
.bg-red {
    background-color: #e3001b;
}
.bg-gold {
    background-color: #bead78;
}
.bg-dark-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-dark {
    background-color: #1a1718 !important;
}
.grey {
    color: #707275;
}
.red {
    color: #e3001b;
}
button {
    color: #fff;
    border: none;
    text-transform: uppercase !important;
    padding: 10px 50px;
    font-size: 22px !important;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: "Roboto-Light" !important;
}
.centered-btn {
    margin-top: -25px;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
.caret-icon {
    position: absolute;
    top: 6px;
    right: 10px;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/* NAVIGATION */
.navbar {
    z-index: 1;
    background-color: transparent !important;
}
.navbar-brand {
    margin-top: -40px;
}
.navbar .navbar-nav.main-nav {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar.bg-dark {
    background-color: #1a1718 !important;
}
.navbar .nav-item {
    color: #fff !important;
}
.navbar .nav-item.dot-separator {
    padding: 20px;
}
.navbar .nav-item a {
    text-transform: uppercase;
    color: #fff !important;
    padding: 20px 0 !important;
}
.navbar .nav-item a.active {
    border-bottom: 15px solid #bead78;
}
.navbar.top-nav-container {
    z-index: 2;
}
.navbar .top-nav {
    z-index: 2;
    align-items: end;
    justify-content: end !important;
    display: flex;
    justify-content: end;
}
.navbar .top-nav .dropdown-menu {
    background-color: #1a1718;
    min-width: 0 !important;
    z-index: 2;
    position: relative;
}
.navbar .top-nav .dropdown-menu a:hover {
    background-color: #1a1718;
}
.navbar .top-nav .navbar-nav {
    align-items: end;
    justify-content: end;
    flex-direction: row;
}
.navbar .top-nav a {
    padding: 0 5px !important;
}
.navbar .signin {
    padding: 0 20px;
}
.navbar .signin a {
    border-left: 1px solid #bead78;
    border-right: 1px solid #bead78;
    color: #bead78 !important;
    padding: 0 20px !important;
}
.navbar.bottom-nav {
    z-index: 2;
}

/* FOOTER */
footer {
    background-color: #191718;
    color: #fff;
}
footer a {
    color: #fff;
    padding: 5px;
}
.top-footer {
    display: flex;
    justify-content: space-between;
}
footer .social-links {
    flex-direction: row;
    display: flex;
    list-style: none;
    align-items: center;
}
.bottom-footer {
    border-top: 1px solid #707070;
    display: flex;
    justify-content: space-between;
}
footer .help-links {
    display: flex;
    list-style: none;
}
footer .help-links a {
    text-decoration: none;
}

/* HOMEPAGE */
.banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: white;
}
.homepage-banner {
    background-image: linear-gradient(black, transparent), url("../img/homepage.png");
}
.banner-opacity {
    height: 100vh;
}
.banner-title h2 {
    font-size: 60px;
}
.banner-text {
    top: 50%;
    left: 100px;
    color: #fff;
}
.diamond {
    position: absolute;
    transform: rotate(45deg);
}
.diamond-lg {
    width: 80px;
    height: 80px;
}
.diamond-md {
    width: 30px;
    height: 30px;
}
section .title {
    text-transform: uppercase;
}
section.section1 {
    margin-top: 70vh;
    background-image: url("../img/dubai-squares.png");
    background-position: right center;
    background-size: 75%;
    background-repeat: no-repeat;
}
section.section2 {
    margin-top: -70px;
}
.hoverable-container {
    position: relative;
}
.hoverable-container .image {
    display: block;
    width: 100%;
    height: auto;
}
.hoverable-container .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hoverable-container:hover .overlay {
    height: 100%;
}
.hoverable-container .text {
    color: white;
    text-align: center;
}
.hoverable-title {
    background: white;
    text-align: center;
    text-transform: uppercase;
}
.hoverable-separator {
    height: 15px;
}
.event-title {
    display: flex;
    justify-content: space-between;
    line-height: 17px;
    text-transform: uppercase;
}
.event-tag {
    line-height: 15px;
    text-align: center;
    position: absolute;
    background: white;
    display: inline-flex;
    flex-direction: column;
    right: 10px;
    color: #bead78;
}
.event-tag .p1 {
    font-size: 35px;
    line-height: 0.8;
}
.event-tag .p2 {
    font-size: 20px;
}
.investors-bg-img {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0)),
        url("../img/pexels-kostiantyn-stupak-599982.png");
    background-size: cover;
    color: white;
}

/* PLAN YOUR VISIT */
.plan-banner {
    background-image: linear-gradient(black, transparent), url("../img/plan-visit.png");
}
.plan-items {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.plan-items li {
    border: 3px solid;
    transform: rotate(45deg);
    padding: 10px;
    margin: 15px;
}
.plan-items li img {
    transform: rotate(-45deg);
    width: 35px;
    height: 35px;
}

/* SIGN IN MODAL */
body.modal-open .main-container {
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}
.modal .btn-close {
    background-size: auto 40%;
}
.form-floating > label {
    left: 0 !important;
    right: auto !important;
    transform-origin: 20% 0 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.input-icon {
    position: absolute;
    top: 17px;
    left: 10px;
    color: #707275;
}
.form-floating > .form-control {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.modal input[type="submit"] {
    border: none;
    color: #fff;
    border-radius: 20px;
}
.modal .social-login > div {
    position: absolute;
    top: 15px;
    color: #707275;
    left: 20px;
    border-right: 2px solid #707275;
    padding-right: 30px;
}
.modal .social-login svg {
    font-size: 18px;
}
.modal .social-login button {
    border-radius: 20px;
    border: 2px solid #707275;
    background: transparent;
    color: #707275;
    letter-spacing: 1px;
    font-size: 14px !important;
    font-family: "Roboto-Bold" !important;
    width: 100%;
    padding: 15px 60px;
}

/* ABOUT US */
.mission-bg-img {
    background-image: url("../img/vision-mission.png");
    background-size: cover;
    color: white;
}

/* PARTICIPATE */
.participate-banner {
    position: absolute;
    top: 0;
    background-image: url("../img/participate.png");
    height: 100vh;
    background-size: cover;
}
.form-check input {
    accent-color: #b07c35;
}
.participate-modal .modal-content {
    background-color: transparent;
    border: none;
}
.participate-modal .submit-btn {
    margin-top: -20px;
}
.participate-modal .submit-btn input {
    border-radius: 15px;
}

/* WHATS ON */
.whats-on-banner img {
    margin-top: -100px;
}
.whats-on li a {
    color: #000;
}
.whats-on li a.active {
    border-left: 10px solid #e3001b;
}
.list-grid {
    list-style: none;
}
.list-grid li.active {
    border-bottom: 8px solid #bead78;
}
.list-grid img {
    width: 25px;
    height: 25px;
}

@media (max-width: 991px) and (min-width: 320px) {
    .banner,
    .banner-opacity {
        height: 40vh;
    }
    section.section1 {
        margin-top: 30vh;
    }
}

/* RTL */
.rtl .caret-icon {
    left: 10px;
    right: auto;
}
.rtl .form-floating > label {
    left: auto !important;
    right: 0 !important;
}
